[user]
	email = emrearmagan.dev@gmail.com
	name = Emre Armagan

[init]
  defaultBranch = main

[core]
	excludesfile = /Users/emrearmagan/.gitignore_global
	autocrlf = input

[difftool "sourcetree"]
	path = 
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true

[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[diff]
	# Detect copies as well as renames
	renames = copies

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

[commit]
	template = /Users/emrearmagan/.stCommitMsg

[pull]
	rebase = true

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[credential]
	helper = cache

[merge]
  tool = sourcetree

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
  keepBackup = false
