---
- name: Set fonts directory fact.
  set_fact:
    nf_fonts_dir: "{{ (ansible_facts['os_family'] == 'Darwin')|ternary(nf_macos_fonts_dir, nf_linux_fonts_dir) }}"

- name: Ensure fonts directory exists
  file:
    path: "{{ nf_fonts_dir }}"
    state: directory

- name: Check if {{ font_name }} Nerd Font exists
  shell: "ls {{ font_glob }}"
  register: font_exists
  ignore_errors: true
  changed_when: false

- name: Download {{ font_name }} Nerd Font
  when: font_exists is failed
  ansible.builtin.unarchive:
    src: "{{ font_url }}"
    dest: "{{ nf_fonts_dir }}"
    remote_src: yes
